<a href="/dashboard">&larr; Retour</a>
<div class="admin-title">
    <h2>Ajouter un Post</h2>
</div>

<form action="/add-post" method="POST">

    <label for="title"><b>Titre</b></label>
    <input type="text" placeholder="Titre du post" name="title">

    <label for="title"><b>Résumé</b></label>
    <input type="text" placeholder="Faire un résumé" name="summary">

    <label for="content"><b>Contenu</b></label>
    <textarea name="content" cols="50" rows="10"></textarea>

    <label for="title"><b>Auteur</b></label>
    <input type="text" placeholder="Le nom de l'auteur" name="author">

    <input type="submit" value="Ajouter" class="btn">
</form>